{% extends 'main/base.html' %}
{% block headerStyle %}{% endblock %}
{% block active_contact %}current-menu-item{% endblock %}
{% block body %}
<div class="md-content">

    <!-- Section -->
    <section class="md-section js-consult-form" style="background-color:#f7f7f7;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">

                    <!-- title-01 -->
                    <div class="title-01">
                        <h2 class="title-01__title">Contact Details</h2>
                        <div>Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non sapien
                            imperdiet, sagitt
                        </div>
                    </div><!-- End / title-01 -->

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ">

                    <!-- iconbox -->
                    <div class="iconbox iconbox__style-04">
                        <div class="iconbox__icon"><i class="ti-email"></i></div>
                        <div>
                            <h2 class="iconbox__title"><a href="#">Email</a></h2>
                            <div class="iconbox__description">info@awe7.com</div>
                        </div>
                    </div><!-- End / iconbox -->

                </div>
                <div class="col-lg-4 ">

                    <!-- iconbox -->
                    <div class="iconbox iconbox__style-04">
                        <div class="iconbox__icon"><i class="ti-location-pin"></i></div>
                        <div>
                            <h2 class="iconbox__title"><a href="#">location</a></h2>
                            <div class="iconbox__description">3919 New Cut Rd, Ellicott City, <br>Maryland, US</div>
                        </div>
                    </div><!-- End / iconbox -->

                </div>
                <div class="col-lg-4 ">

                    <!-- iconbox -->
                    <div class="iconbox iconbox__style-04">
                        <div class="iconbox__icon"><i class="ti-mobile"></i></div>
                        <div>
                            <h2 class="iconbox__title"><a href="#">hotline</a></h2>
                            <div class="iconbox__description">+1-202-555-0192</div>
                        </div>
                    </div><!-- End / iconbox -->

                </div>
            </div>

        </div>
    </section>
    <!-- End / Section -->


    <!-- Section -->
    <section class="md-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">

                    <!-- title-01 -->
                    <div class="title-01 title-01__style-05">
                        <h6 class="title-01__subTitle">what’s next</h6>
                        <h2 class="title-01__title">Are You Ready, <a href="#form01" class="clickScroll">Let’s Work</a>
                        </h2>
                    </div><!-- End / title-01 -->

                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->

</div>
<!-- End / Content-->
{% endblock %}