{% extends 'main/base.html' %}
{% block title %}Terms and Conditions{% endblock %}
{% block headerStyle %}{% endblock %}
{% block body %}
    {% load staticfiles %}

    <!-- Content-->
    <div class="md-content">
        <div>

            <div class="container">
                <div class="consult-projectDetail__main">

                    <!-- social-01 -->
                    <div class="social-01 social-01__style-02">
                        <nav class="social-01__navSocial">
                            <a class="social-01__item" href="https://www.facebook.com/myexpressservice/" target="_blank"><i
                                class="fa fa-facebook"></i>
                            </a>
                            <a class="social-01__item" href="https://www.instagram.com/myexpressservice/" target="_blank"><i
                                class="fa fa-instagram"></i>
                            </a>
                            <a class="social-01__item" href="https://www.youtube.com/channel/UCPCIQIjS9T372oO_oY8lINA" target="_blank"><i
                                class="fa fa-youtube"></i>
                            </a>
                        </nav>
                    </div>
                    <!-- End / social-01 -->

                    <div class="row">
                        <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
                            <div class="consult-projectDetail__content">
                                <div class="row">
                                    <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                        <h1>Privacy Policy</h1>
                                        <h2 class="infobox__title">General</h2>
                                        <p class="text margin-bottom-small">This privacy policy discloses the privacy
                                            practices for www.myExpressMove.com and My Express Service LLC.
                                        </p>
                                        <p class="text margin-bottom-small">This privacy policy applies solely to
                                            information collected by this web site.
                                        </p>
                                        <p class="text margin-bottom-small">Information Collection, Use, and Sharing
                                            Roadway Moving is the sole owner of the information collected on this site.
                                        </p>
                                        <p class="text margin-bottom-small">We will not sell or rent this information to
                                            anyone.
                                        </p>
                                        <p class="text margin-bottom-small">We will use your information to respond to
                                            you, regarding the reason you contacted us.
                                        </p>
                                        <p class="text margin-bottom-small">We will not share your information with any
                                            third party outside of our organization, other than as necessary to fulfill
                                            your request, e.g. to ship an order.
                                        </p>
                                        <p class="text margin-bottom-small">Unless you ask us not to, we may contact you
                                            via email in the future to tell you about specials, new products or
                                            services, or changes to this privacy policy.
                                        </p>
                                        <p class="text margin-bottom-small">Your Access to and Control over Information
                                            You may opt out of any future contacts from us at any time. You can do the
                                            following at any time by contacting us via the email address or phone number
                                            given on our website:
                                        <ul>
                                            <li>
                                                See what data we have about you, if any.
                                            </li>
                                            <li>
                                                Change/correct any data we have about you.
                                            </li>
                                            <li>
                                                Have us delete any data we have about you.
                                            </li>
                                            <li>
                                                Express any concern you have about our use of your data.
                                            </li>
                                        </ul>
                                        Links to other Web Sites
                                        This site may contain links to other web sites.
                                        </p>
                                        <p class="text">www.myexpressmove.com and My Expres Servicer
                                            LLC is not responsible for the
                                            privacy practices or the content of such other web sites, nor does Roadway
                                            Moving endorse any products or services offered by those sites.
                                        </p>

                                        <h2 class="infobox__title">Security</h2>
                                        <p class="text margin-bottom-small">We take precautions to protect your
                                            information. When you submit sensitive information via the website, your
                                            information is protected both online and offline.
                                        </p>
                                        <p class="text margin-bottom-small">Wherever we collect sensitive information
                                            (such as credit card data), that information is encrypted and transmitted to
                                            us in a secure way. You can verify this by looking for a closed lock icon at
                                            the bottom of your web browser, or looking for “https” at the beginning of
                                            the address of the web page.
                                        </p>
                                        <p class="text">While we use encryption to protect sensitive
                                            information transmitted online, we also protect your information offline.
                                            Only employees who need the information to perform a specific job (for
                                            example, billing or customer service) are granted access to personally
                                            identifiable information. The computers/servers in which we store personally
                                            identifiable information are kept in a secure environment.
                                        </p>

                                        <h2 class="infobox__title">Updates</h2>
                                        <p class="text">Our Privacy Policy may change from time to
                                            time and all updates will be posted on this page.
                                        </p>

                                        <h2 class="infobox__title">Contact Information</h2>
                                        <p class="text margin-bottom-small">If you feel that we are not abiding by this
                                            privacy policy, or if you would like to: access, correct, amend or delete
                                            any personal information we have about you, register a complaint, or simply
                                            want more information, contact us via telephone at 800-809-0392 or via email
                                            at <a href="mailto:support@myexpressmove.com?Subject=Question" target="_top"
                                                  style="color: #f39c12;">support@myexpressmove.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Related Posts-->

    </div>

{% endblock %}